

.card {
    height: 100%;
}

body {
    background-color:rgba(0, 251, 255, 0.523);
}

.resumeCard {
    height: 40%;
    margin-left:23%;
    margin-bottom: 20%;
}

.project2 {
    height: 115px;
    width: 200px;
}

.card-body {
    height: 200px
}

